MJW_DAVINCI_TOKEN = [Token of Discord bot]
MJW_SERVER_ID = [Server id here]
MJW_SALAI_TOKEN = [Token of the Account from which you paid MidJourney ]
MJW_CHANNEL_ID = [Channel in which commands are sent]

MJW_USE_MESSAGED_CHANNEL=0
